@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";
@import 'app/less/spinner.less';
@import 'app/less/code.less';

.raw-code-area {
  height: 80%;
  width: 45%;
  margin: 3%;
  left:0;
  position:absolute;
  padding: 0;
}

.mui-toolbar .mui-toolbar-group .mui-flat-button {
  line-height:56px;
}

.mui-input textarea[type='text'], .codearea {
  //margin: 10px 0px;
  width: 90%;
  height: 100%;
  font-family: 'Droid Sans Mono', monospace;
  //padding:10px;
}

.mui-input-placeholder {
  //margin:20px;
}

.error:hover .tip {
  display: block;
}


.tip {
  display: none;
  background: #eee;
  opacity:0.9;
  font-size: 0.7em;
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  //width:200px;
  //height:100px;
}

.couponcode {
  margin:100px;
}

.error {
  height:100%;
  border-bottom: 2px dotted #ff4081;
  background-color: #FCEBF0;
  cursor: pointer;
}

.output-area {
  height: 80%;
  width: 45%;
  margin: 3%;
  float: right;
  right: 0;
  position:absolute;
}
